{% extends 'base.html.twig' %}

{% block title %}WpUser{% endblock %}

{% block body %}
    <h1>WpUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wp_user.id }}</td>
            </tr>
            <tr>
                <th>User_nicename</th>
                <td>{{ wp_user.userNicename }}</td>
            </tr>
            <tr>
                <th>User_email</th>
                <td>{{ wp_user.userEmail }}</td>
            </tr>
            <tr>
                <th>User_registered</th>
                <td>{{ wp_user.userRegistered ? wp_user.userRegistered|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Display_name</th>
                <td>{{ wp_user.displayName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wp_user_index') }}">back to list</a>

    <a href="{{ path('app_wp_user_edit', {'id': wp_user.id}) }}">edit</a>

    {{ include('wp_user/_delete_form.html.twig') }}
{% endblock %}
